GOOGLE_CLOUD_PROJECT=gen-lang-client-0750572492
DATA_BUCKET=gen-lang-client-0750572492-model-explorer-data
ARTIFACTS_BUCKET=gen-lang-client-0750572492-model-explorer-artifacts
TRAINING_SERVICE_ACCOUNT=training-job-runtime@gen-lang-client-0750572492.iam.gserviceaccount.com
