GOOGLE_CLOUD_PROJECT=gen-lang-client-0750572492
PORT=8080
DATA_BUCKET=gen-lang-client-0750572492-model-explorer-data
ARTIFACTS_BUCKET=gen-lang-client-0750572492-model-explorer-artifacts
SIGNING_SERVICE_ACCOUNT=api-runtime@gen-lang-client-0750572492.iam.gserviceaccount.com
GCP_REGION=us-central1
TRAIN_JOB_NAME=train-job
EVALUATE_JOB_NAME=evaluate-job
